
<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
  <%if (user_id) { %>
    <h1> sup asshole <%= users[user_id].email %> </h1>
    <form method='POST' action="/logout">
      <button>Logout</button>
    </form>
    <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% } %>
  </form>
  </body>
</html>